{% extends 'common/base.html' %}

{% block meta %}
    <meta name="description" content="Collection of Blogs/Articles brought to you by GVD">
    <meta name="keywords" content="Blogs, Articles, Technology">
{% endblock %}

{% block title %}
    <title>Blogs</title>
{% endblock %}

{% block body %}
{% load static %}
    <header class="masthead" style="background-image:url({% static 'img/contact-bg.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Blogs List View</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                {% for blog in blogs %}
                <div class="card mb-3">
                  <a href="{% url 'blogDetail' blog.slug blog.id %}"><img class="card-img-top" src="{{ blog.image.url }}" alt="Card image cap"></a>
                  <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.subtitle }}</p>
                    <p class="card-text"><small class="text-muted">{{ blog.publish_date }}</small></p>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}