{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Blogs</title>
{% endblock %}

{% block body %}
{% load static %}
    <header class="masthead" style="background-image:url({{ blog.image.url }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="post-heading">
                        <h1>{{ blog.title }}</h1>
                        <h2 class="subheading">{{ blog.subtitle }}</h2>
                        <span class="meta">Posted {{ blog.publish_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <h1>{{ blog.title }}</h1><br>
                    {{ blog.content | safe }}
                </div>
            </div>
        </div>
    </article>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-5 mx-auto">
                <form method="post">
                    {% csrf_token %}
                  <div class="mb-2">
                    <label class="form-label">Name</label>
                      {% render_field form.name class="form-control" %}
                  </div>
                  <div class="mb-2">
                    <label class="form-label">Comment</label>
                      {% render_field form.comment class="form-control" %}
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
            </div>
            <div class="col-md-10 col-lg-8 mx-auto" style="margin-top: 50px;">
                {% for comment in comments %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ comment.name }}</h5>
                    <p class="card-text">{{ comment.comment }}</p>
                      <div class="card-footer text-muted">
                        {{ comment.comment_date }}
                      </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}