{% extends 'common/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
{% load static %}
{% load i18n %}
    <header class="masthead" style="background-image:url({% static 'img/home-bg.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Clean Blog</h1><span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div style="display: flex; justify-content: center">
                <h1>Hello</h1>
            </div>
        </div>
    </div>
{% endblock %}
